{% if menu %}
	<ul>
	{% for item in items %}
		<li class="{{ item.classes | join(' ') }} text-green-500 hover:text-green-800">
			<a target="{{ item.target }}" href="{{ item.link }}">{{ item.title }}</a>
			{% include "menu.twig" with {'items': item.children} %}
		</li>
	{% endfor %}
	</ul>
{% endif %}
